pack/**
sessions/**
.netrwhist
plugin/
minimal.lua
.repro
lua/cosmic/compiled.lua
lua/cosmic/config/editor.lua
lua/cosmic/config/config.lua
lua/cosmic/config/mappings.lua
lua/cosmic/config/plugins.lua
lua/cosmic/config/utils.lua
ginit.vim
